@font-face{
	font-family: Determination-Sans;
	src:url(det-sans.ttf);
}

html{
    font-family: Determination-Sans;
    color: white;
    font-size: 2.5em;
    background-color: black;
    /*margin-left: 20%;
    margin-right: 20%;*/
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
    overflow-x: hidden;
}
h1{
    text-align: center;
    color: lightgrey;
    font-size: 40px;
}
img{
    image-rendering: pixelated;
}
.texto{
    align-items: center;
    margin: auto;
    text-align: justify;
    width: 60%;
}
#music_icon{
    position: absolute;
    top: 20px;
    left: 30px;
}

#title_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

}
#textbox{
    border: 10px solid white;
    background: black;
    height: 200px;
    width: 900px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left:auto;
    margin-top: 0px;
    position: relative;

}

.text{
    position: absolute;
    top: 20px;
    left: 60px;
    text-align: left;
    text-overflow: unset;
    line-height: 50px;
    font-size: 45px;
    margin-right: 20px;
}
#text_place{
    position: relative;
    max-width: 100%;
    width: 88%;
    height: 100%;
    background: black;
    padding-left: 10px;
}

#image_face{
    position:relative;
    height: 150px;
    background-color: black;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: auto;
    display: block;
    padding: 20px;
    object-fit:contain;
}
#image_face_place{
    position:relative;
    height: 100%;
    width: 200px;
    background: greenyellow;
    z-index: 1;
    margin-right: 100px;
    margin-left: 0px;
}
.descarga{
    display: block;
    text-align: center;
}
#version{
    text-align: center;
    font-size: 1em;
    margin-top: -0.1em;
    color: gray;
}

footer{
    text-align: center;
    font-size: 0.8em;
}