iframe{
    padding: 40px;
}

#musicbox{
    position: relative;
    border: 10px solid white;
    background: black;
    /*height: 800px;*/
    width: 100%;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left:0%;
    margin-top: 0px;
    text-align: center;

}

#song_folder{
    display:none;
    float: left;
    width: 100%;
    position: relative;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 10px;
}

#song_title{
    position:relative;
    display: flex;
    margin-left: 25px;
    margin-right: 10px;
}

#song_audio{
    position: relative;
    width: 85%;
    margin-left: -50px;
}

#song_download_button{
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
}
